#button-group-navbar{
    float: right;
    text-align: right;
}

#signIn{
    margin-right: 25px;
}

#createClass{
    text-align: center;
}

#manageClass{
    text-align: center;
}

#viewClass {
    text-align: center; 
    color: black;
    margin: 3%;
    
}

.row{
    margin-bottom: 50px;
}

#course-list{
    margin-bottom: 25px;
    display: block;
    text-align: center;
    float: center;
}

#take-attendance{
    text-align: center;
}

.nav-image{
    width: 125px;
    height: 100px;
    padding-right: 20px;
}

.not-finished{
    width: 50%;
    height: 100%;
}